<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Commands</title>
    <link rel="stylesheet" href="../vorlage.css"/>
</head>
<body>
<div id="outer">
    <div id="inner">
        <p id="title">Edit Commands</p>
        <hr/>
        <!--/*@thymesVar id="LoginModel" type="ch.felix.loginapp.model.LoginModel"*/-->
        <form action="/command/edit" th:method="post" method="post">
            <label for="commandsField">Command:</label>
            <!--/*@thymesVar id="commands" type="ch.lebois.troyserver.controller.CommandController"*/-->
            <input id="commandsField" name="commands" th:value="${commands}" class="input" autocomplete="off"
                   placeholder="Command"/>
            <input type="submit" class="input" id="primaryAction"/>
        </form>
        <p id="error"></p>
    </div>
</div>
</body>
</html>