<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Troy Help</title>
    <link rel="stylesheet" href="../vorlage.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
</head>
<body>
<center>
    <div id="outer">
        <div id="inner">
            <!--/*@thymesVar id="client" type="ch.lebois.troyserver.controller.DashboardController"*/-->
            <h1>Help with Commands</h1>

            <hr/>
            <h3>Native Commands</h3>

            <pre class="log">ls</pre>
            <p>List Files</p>
            <br/>

            <pre class="log">read [file]</pre>
            <p>Read File</p>
            <br/>

            <pre class="log">download [url] [destinationfile]</pre>
            <p>Download File from Internet</p>
            <br/>

            <pre class="log">screenshot</pre>
            <p>Takes Screenshot</p>
            <br/>

            <pre class="log">kill</pre>
            <p>Kills PC</p>
            <br/>

            <pre class="log">msg * [message]</pre>
            <p>Send message to Client</p>
            <br/>

            <a href="https://www.lifewire.com/list-of-command-prompt-commands-4092302">
                More Commands (Some of the commands will crash the client)
            </a>

            <a href="../dashboard" class="input secondaryAction w3-card-4">Back</a>
        </div>
    </div>
</center>
<span style="position: fixed; bottom: 0; right: 0">寒意</span>
</body>
</html>
