<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../vorlage.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
</head>
<body>
<center>
    <div id="outer">
        <div id="inner">
            <h1 th:text="'Home - ' + ${user}"></h1>
            <hr/>
            <h3>Clients</h3>
            <br/>
            <table style="border: 4px solid cadetblue; width: 100%; border-radius: 6px;">
                <tr style="border-bottom: 4px solid cadetblue;">
                    <th>
                        <b>Pc Name</b>
                    </th>
                    <th>
                        <b>Last Seen</b>
                    </th>
                    <th>
                        <b>Operating System</b>
                    </th>
                    <th>
                        <b>Logs</b>
                    </th>
                    <th>
                        <b>Errors</b>
                    </th>
                </tr>
                <tr th:each="client : ${model}">
                    <td>
                        <a th:href="@{'/dashboard/' + ${client.client}}"
                           th:text="${client.client}"></a>
                        <br/>
                    </td>
                    <td>
                        <span th:text="${client.lastseen}"></span>
                    </td>
                    <td>
                        <span th:text="${client.os}"></span>
                    </td>
                    <td>
                        <span th:text="${client.logcount}"></span>
                    </td>
                    <td>
                        <span th:text="${client.errorcount}"></span>
                    </td>
                </tr>
            </table>
            <br/>
            <a href="dashboard/help" class="input secondaryAction w3-card-4">Help with Commands</a>
        </div>
    </div>
</center>
</body>
</html>
