<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="../vorlage.css"/>
    <script rel="script" src="../static/urlParam.js"></script>
</head>
<body>
<div id="outer">
    <div id="inner">
        <p id="title">Login</p>
        <hr/>
        <form action="/login" th:method="post" method="post">
            <table id="formtable">
                <tr>
                    <td>User:</td>
                    <td>
                        <input id="user" class="input" name="user" spellcheck="false" autocomplete="off"
                               required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input id="password" class="input psw" type="password" name="password"
                               spellcheck="false" autocomplete="off" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input id="primaryAction" class="input" value="Login" type="submit"/>
                    </td>
                </tr>
            </table>
        </form>
        <p id="error"></p>
    </div>
</div>
</body>
</html>