<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="../vorlage.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <script rel="script" src="../static/urlParam.js"></script>
</head>
<body>
<center>
    <div id="outer">
        <div id="inner">
            <h1>Register</h1>
            <hr/>
            <form action="/register" th:method="post" method="post">
                <table id="formtable">
                    <tr>
                        <td>User:</td>
                        <td>
                            <input id="user" class="input w3-card-4" name="user" spellcheck="false" autocomplete="off"
                                   required="required"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>
                            <input id="email" class="input psw w3-card-4" type="email" name="email"
                                   spellcheck="false" autocomplete="off" required="required"/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input id="primaryAction" class="input w3-card-4" value="Login" type="submit"/>
                        </td>
                    </tr>
                </table>
            </form>
            <p id="error"></p>
        </div>
    </div>
</center>
<div style="position: fixed; bottom: 3px; right: 3px; padding: 3px;" class="w3-card-4">
    寒意
</div>
</body>
</html>