<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Screenshot</title>
    <link rel="stylesheet" href="../vorlage.css"/>
    <script rel="script" src="../static/urlParam.js"></script>
</head>
<body>
<div id="outer">
    <div id="inner">
        <h1 th:text="${name}"></h1>
        <img th:src="'../../screenshots/' + ${name} + '.jpg'"/>
        <!--<a th:href="'../dashboard/' + ${client}">Back</a>-->
    </div>
</div>
<div style="position: fixed; bottom: 3px; right: 3px; padding: 3px;" class="w3-card-4">
    寒意
</div>
</body>
</html>
